.powers-talents-checkboxes {
    columns: 2
}

.powers-talents-checkbox > label {
    /* display: block;
    margin-left: 20px; */
}

.powers-talents-checkbox > label > input {
    /* float: left;
    margin-left: -20px;
    margin-right: 7px; */
}