@import "../node_modules/bulma/bulma.sass"

.clickable
  cursor: pointer

.dice
  background-image: url("@/assets/d20.svg")
  background-position: center
  background-repeat: no-repeat
  background-size: contain
  filter: brightness(0) invert(1)
